# .gitignore for Grails 1.2 and 1.3

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target

# other
*.iws




/build

.DS_Store
web-app/development
web-app/index.html
web-app/app.js
web-app/config.rb
web-app/foodprint-all.scss
web-app/resources
web-app/.sass-cache
web-app/touch

.idea
foodprint-grailsPlugins.iml
foodprint.iml