# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target

# other
*.iws

web-app/.sencha
web-app/app
web-app/build
web-app/ext
web-app/extjs4_dev
web-app/overrides
web-app/packages
web-app/resources
web-app/sass

web-app/app.js
web-app/app.html
web-app/app.json
web-app/bootstrap.css
web-app/bootstrap.js
web-app/build.xml
web-app/index.html
web-app/Makefile
web-app/Readme.md



