@font-face {
	font-family: 'agriclous-icon';
	src:url('fonts/agriclous-icon.eot');
	src:url('fonts/agriclous-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/agriclous-icon.woff') format('woff'),
		url('fonts/agriclous-icon.ttf') format('truetype'),
		url('fonts/agriclous-icon.svg#agriclous-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'agriclous-icon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-remove, .icon-angle-right, .icon-angle-left, .icon-icon-02, .icon-icon-01, .icon-menu-04, .icon-menu-03, .icon-menu-02, .icon-menu-01, .flex-next  {
	font-family: 'agriclous-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-remove:before {
	content: "\f00d";
}
.icon-angle-right:before, .flex-next  {
	content: "\f105";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-icon-02:before {
	content: "\e000";
}
.icon-icon-01:before {
	content: "\e001";
}
.icon-menu-04:before {
	content: "\e002";
}
.icon-menu-03:before {
	content: "\e003";
}
.icon-menu-02:before {
	content: "\e004";
}
.icon-menu-01:before {
	content: "\e005";
}
