@charset "UTF-8";
/* CSS Document */

header{width:100%; background:url(../images/header-bg-02.jpg) repeat-x; height:40px; background-size: contain;}
header .logo {float:left; margin-top:5px;}
header .logo img{width:125px;}
header .logo-text {float:left; font-size:13px; color:#5e5c5c; padding-top:14px; margin-left:10px; }
header .logo-text small{color:#638c0b; font-size:8px;-webkit-transform : scale(0.8);display:inline-block; position:relative; top:-7px; letter-spacing:0; }
header .logo-text .font-brown{font-size:10px; margin-left:5px;-webkit-transform : scale(0.9);display:inline-block;}
header .signature {float:right; margin:10px 10px 0 0; }
header .signature img{width:70px;}
.btn-logout{float:right; margin: 10px 20px 0 0;}
.username{float:right; background:url(../images/icon-user.jpg) no-repeat; padding-left: 28px;margin:  9px 20px 0 0;height: 30px;line-height: 24px; font-size:11.5px; -webkit-transform : scale(0.95);display:inline-block;}
.font-brown{color:#502916;}
.lspace{letter-spacing:4px;}

footer{ position:absolute; bottom:0;  width:100%;}
footer .btn-fb{float:right; margin-right:30px;}
footer .right-slogan{float:right; position:relative; top:35px; margin-right:10px;color:#303030;}
footer .bar{ background:url(../images/footer-bg.jpg) repeat-x; height:38px; padding:10px; clear:both; color:#838383; font-size:11px;}



/******** neptune *********/
 .x-border-layout-ct .x-panel-default-framed{
	-webkit-border-radius:0;	
	-moz-border-radius:0;
	border-radius:0; 
	
	background: -moz-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 7%, rgba(0,0,0,0) 100%), url(../images/login-bg.jpg) repeat;
background: -webkit-gradient(linear, left top, left top, color-stop(0%,rgba(0,0,0,0.1)), color-stop(7%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))), url(../images/login-bg.jpg) repeat;
background: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 7%,rgba(0,0,0,0) 100%), url(../images/login-bg.jpg) repeat;
background: -o-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 7%,rgba(0,0,0,0) 100%), url(../images/login-bg.jpg) repeat;
background: -ms-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 7%,rgba(0,0,0,0) 100%), url(../images/login-bg.jpg) repeat;
background: linear-gradient(to left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 7%,rgba(0,0,0,0) 100%), url(../images/login-bg.jpg) repeat;
}

.x-tab-bar-strip-default{ background:none; border-color:none; height:1px;}

a.x-tab{height:36px;}

.x-btn-default-toolbar-medium .x-btn-inner{font-size:12px;}

.x-accordion-body .x-btn-inner-center{text-align:left; padding-left:25px; background:url(../images/arrow.png) no-repeat 5px top;}



/******** rip *********/
 a.x-tab {border-left: 1px solid #bbb; border-right:1px solid #eee;}
 
.x-btn-default-small{
	-webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
color:#7c7c7c;
background-image: none;
background-color: none;
border:none;}

body.x-nbr .x-btn-default-small-frameInfo {
	color: #777;
}

 .x-btn-default-toolbar-medium .x-btn-inner {
	 font-size:12px;
 }
 
  .x-panel-header-default .x-tool-img{
	  background-color: transparent;
  }
  .x-panel-header-text-container-default{
	  color: #4d4d4d;
  }
  .x-panel-header-default{
	  background-image: linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
  background-image: -o-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
  
  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0.28, rgb(208,215,218)),
	  color-stop(1, rgb(227,232,232))
  );

  }
  
  .x-panel-body-default-framed{
  	background-color:none;
  }
  
  body.x-nbr .x-btn-default-toolbar-large-frameInfo{
	  border-width: 0px;
	  background-color:none;
  }
   .x-accordion-layout-ct{
	   background-color: none;
   }
   
   .x-accordion-item .x-accordion-hd {
	   -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 7px;
  border:1px solid #999;
  background-color: #ddd;
  background-image: linear-gradient(bottom, rgb(223,221,218) 28%, rgb(247,247,246) 100%);
background-image: -o-linear-gradient(bottom, rgb(223,221,218) 28%, rgb(247,247,246) 100%);
background-image: -moz-linear-gradient(bottom, rgb(223,221,218) 28%, rgb(247,247,246) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(223,221,218) 28%, rgb(247,247,246) 100%);
background-image: -ms-linear-gradient(bottom, rgb(223,221,218) 28%, rgb(247,247,246) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.28, rgb(223,221,218)),
	color-stop(1, rgb(247,247,246))
);

   }
   
   .x-border-layout-ct{
	   background-color:none;
   }
   
   .x-tab-default-top {
	   -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 8px 11px 7px 12px;
  background-image: linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
  background-image: -o-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
  
  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0.28, rgb(208,215,218)),
	  color-stop(1, rgb(227,232,232))
  );

   }
   body.x-nbr .x-tab-default-right-frameInfo{
	   color: #4d4d4d;
   }
   .x-tab-default-active{
	   background-image: linear-gradient(bottom, rgb(175,186,191) 28%, rgb(206,216,218) 100%);
  background-image: -o-linear-gradient(bottom, rgb(175,186,191) 28%, rgb(206,216,218) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(175,186,191) 28%, rgb(206,216,218) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(175,186,191) 28%, rgb(206,216,218) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(175,186,191) 28%, rgb(206,216,218) 100%);
  
  background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0.28, rgb(175,186,191)),
 color-stop(1, rgb(206,216,218))
  );

   }
   .x-tab-default-active .x-tab-inner{
	   color: #4d4d4d;
   }
   .x-tab-bar-default {
  background-image: linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
background-image: -o-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
background-image: -moz-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);
background-image: -ms-linear-gradient(bottom, rgb(208,215,218) 28%, rgb(227,232,232) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.28, rgb(208,215,218)),
	color-stop(1, rgb(227,232,232))
);
}
.x-panel-body-default-framed, .x-accordion-layout-ct, .x-accordion-item .x-panel-body-default {background-color:transparent;}
.x-panel-default-framed {border-width:0px;}
.x-btn-default-small{background-color:transparent;}
.x-btn-default-small .x-btn-inner, .x-tab-default .x-tab-inner{color:#444;}
.x-btn-default-small-over{background:none;}
.x-btn-default-small-over .x-btn-inner, .x-btn-button:hover{text-decoration:underline;}
.x-btn-default-small-focus{background:none;}
.x-btn-default-small-focus .x-btn-inner{color:#029ed1;}