.custom-invalid {
    background-image: url(img/bullet_red.png); 
    background-position: right center; 
}

@font-face {
    font-family:'Pictos';
    src:url("../pictos/pictos.eot");src:url("../pictos/pictos.eot?#iefix") format("embedded-opentype"),url("../pictos/pictos.woff") format("woff"),url("../pictos/pictos.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}